#flats-list
  - Flat::STATES.each do |state|
    - flats = @flats.select { |flat| flat.state == state }
    - unless flats.empty?
      = render :partial => "flats_table", :locals => { :flats => flats, :show_phone => false }
  