<div id="map">
  <script type="text/javascript">
    function initialize() {
      
      // set up new map
      var mapOptions = {
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };  
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

      // set center
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({'address': 'Kleinhesseloher See, München'}, function(results, status) {
        map.setCenter(results[0].geometry.location);
      });
      
      addReferencePoints(map, geocoder, ["<%= amazon_muenchen %>"]);
      
      var address = '<%= flat.full_address %>';
      
      geocoder.geocode({'address': address}, function(results, status) {
        var markerOptions = {
          'position': results[0].geometry.location,
          'title': address
        };
        var marker = new google.maps.Marker(markerOptions);
        marker.setMap(map);      
      });

      /*
      directions = new GDirections(map);
      var betterplaceOfficeString = '<%= betterplace_office_address %>';
      directions.load(
        "from: " +  addressString + " to: " + betterplaceOfficeString,
        {'travelMode': "G_TRAVEL_MODE_WALKING", 'locale': 'de_DE'}
      );
      setTimeout("alert(directions.getDistance().meters)", 5000);
      */
    }
    
    </script>
    
  <body onload="initialize()">
    <div id="map_canvas" style="width: 800px; height: 600px; border: 1px solid #000"></div>
</div>