<div id="map">
  <script type="text/javascript">
    function initialize() {
      map = initMap(800, 600);
      // add marker and center map
      var geocoder = new GClientGeocoder();
      var addressString = '<%= flat.full_address %>';
      geocoder.getLatLng(addressString, function(latLng) {
        map.setCenter(latLng, 15);
        map.addOverlay(new GMarker(latLng, {'title': addressString }));
      });

      directions = new GDirections(map);
      var betterplaceOfficeString = "Schlesische Straße 26, Berlin";
      directions.load(
        "from: " +  addressString + " to: " + betterplaceOfficeString,
        {'travelMode': "G_TRAVEL_MODE_WALKING", 'locale': 'de_DE'}
      );
      //setTimeout("alert(directions.getDistance().meters)", 5000);
    }
    
    </script>
    
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 800px; height: 600px; border: 1px solid #000"></div>
</div>