<script type="text/javascript">
  function initialize() {
  
      // set up new map
      var mapOptions = {
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
      var geocoder = new google.maps.Geocoder();
  
      centerMap(map, geocoder);
      addReferencePoints(map, geocoder, <%=raw FavoritePlace.all.map(&:full_address).to_json %>);
  
      var address = '<%= flat.full_address %>';
  
      var markerOptions = {
          'position': new google.maps.LatLng(<%= flat.latitude %>, <%= flat.longitude %>),
          'title': address,
          'map': map
      };
      var marker = new google.maps.Marker(markerOptions);
  }
</script>
    
<div id="map_canvas"></div>
