<div id="map">
  <script type="text/javascript">
  
    function icon() {
      var icon = new GIcon(G_DEFAULT_ICON);
      icon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png";
      icon.iconSize = new GSize(34, 34);
      icon.shadow = false;
      return icon;
    }
    
    function initialize() {
      var map = initMap(800, 600);
      var geocoder = new GClientGeocoder();

      // center map on Kreuzberg
      geocoder.getLatLng('Moritzplatz, Berlin', function(latLng) {
        map.setCenter(latLng, 13);
      });

      // add betterplace office
      geocoder.getLatLng("<%= betterplace_office_address %>", function(latLng) {
        var markerOptions = {
          'title': "<%= betterplace_office_address %>",
          'icon': icon()
        };
        var marker = new GMarker(latLng, markerOptions);
        map.addOverlay(marker);
      });

      // add markers for flats
      G_addresses.each(function(address) {
        geocoder.getLatLng(address, function(latLng) {
          var marker = new GMarker(latLng, { 'title': address });
          map.addOverlay(marker);          
        });
      });
    }
    </script>
    
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 800px; height: 600px; border: 1px solid #000"></div>
</div>