<script type="text/javascript">

// HACK - make a global var for debugging from console
map = false;

function initialize() {
  
  // set up new map
  var mapOptions = {
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };  
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  // set center
  var geocoder = new google.maps.Geocoder();

  centerMap(map, geocoder);  
  
  placeMarkers(<%=raw FavoritePlace.all.to_json %>, 'green');
  G_markers = placeMarkers(G_addresses, 'red');


  // add highlighting of markers
  $('.street-name').bind("mouseover mouseout", function(event) {
    var id = event.target.href.split('/').pop();
    var iconColor = (event.type == 'mouseover') ? 'blue' : 'red';
    G_markers[id].setIcon(icon(iconColor));
  });
  
}
</script>

<div id="map_canvas"></div>