<script type="text/javascript">

// HACK - make a global var for debugging from console
map = false;

// HACK - make a global var
G_markers = {};

function initialize() {
  
  // set up new map
  var mapOptions = {
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };  
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  // set center
  var geocoder = new google.maps.Geocoder();

  centerMap(map, geocoder);  
  addReferencePoints(map, geocoder, ["<%= amazon_muenchen %>", "<%= xenia_muenchen %>"]);

  // add markers for flats
  jQuery.each(G_addresses, function(index, flat) {
  var markerOptions = {
    'position': new google.maps.LatLng(flat.latitude, flat.longitude),
    'title': flat.full_address,
    'map': map
  };
  var marker = new google.maps.Marker(markerOptions);
  G_markers[flat.id] = marker;
  });
  
  // add highlighting of markers
  $('.street-name').bind("mouseover mouseout", function(event) {
    var id = event.target.href.split('/').pop();
    var iconColor = (event.type == 'mouseover') ? 'blue' : 'red';
    G_markers[id].setIcon(icon(iconColor));
  });
  
}
</script>

<div id="map">
  <body onload="initialize()">
    <div id="map_canvas" style="width: 850px; height: 750px; border: 1px solid #000;"></div>
</div>