<script type="text/javascript">

// HACK - make a global var for debugging from console
map = false;

// HACK - make a global var
G_markers = new Array();

function initialize() {
  
  // set up new map
  var mapOptions = {
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };  
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  // set center
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({'address': 'Kleinhesseloher See, München'}, function(results, status) {
    map.setCenter(results[0].geometry.location);
  });
  
  addReferencePoints(map, geocoder, ["<%= amazon_muenchen %>"]);

  // add markers for flats

  G_addresses.each(function(flat) {
    geocoder.geocode({'address': flat.address}, function(results, status) {
      var markerOptions = {
        'position': results[0].geometry.location,
        'title': flat.address,
        'map': map,
        'dbId': flat.dbId
      };
      var marker = new google.maps.Marker(markerOptions);
      G_markers.push(marker);
    });
  });
  
  // add highlighting of markers
  // http://www.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png
  $$('.street-name').each(function(link) {
    link.observe('mouseover', function(event) {
      var id = event.target.href.split('/').last();
      var marker = G_markers.find(function(marker) { return (marker.dbId == id) });
      marker.setIcon(icon('blue'));
    });
    link.observe('mouseout', function(event) {
      var id = event.target.href.split('/').last();
      var marker = G_markers.find(function(marker) { return (marker.dbId == id) });
      marker.setIcon(icon('red'));
    });
  });
    
  /*
  $('map_canvas').setStyle({width: "700px", height: "400px"});
  google.maps.event.trigger(map, "resize");
  */
}
</script>

<div id="map">
  <body onload="initialize()">
    <div id="map_canvas" style="width: 850px; height: 750px; border: 1px solid #000;"></div>
</div>