<script type="text/javascript">

map = false;

function initialize() {
  
  // set up new map
  var mapOptions = {
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };  
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  // set center
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({'address': 'Kleinhesseloher See, München'}, function(results, status) {
    map.setCenter(results[0].geometry.location);
  });
  
  addReferencePoints(map, geocoder, ["<%= amazon_muenchen %>"]);

  // add markers for flats
  G_addresses.each(function(address) {
    geocoder.geocode({'address': address}, function(results, status) {
      var markerOptions = {
        'position': results[0].geometry.location,
        'title': address
      };
      var marker = new google.maps.Marker(markerOptions);
      marker.setMap(map);      
    });
  });
  
  /*
  $('map_canvas').setStyle({width: "700px", height: "400px"});
  google.maps.event.trigger(map, "resize");
  */
}
</script>

<div id="map">
  <body onload="initialize()">
    <div id="map_canvas" style="width: 850px; height: 750px; border: 1px solid #000;"></div>
</div>