<div id="map">
  <script type="text/javascript">
  
    function icon(color) {
      var icon = new GIcon(G_DEFAULT_ICON);
      icon.image = "http://www.google.com/intl/en_us/mapfiles/ms/micons/" + color + "-dot.png";
      icon.iconSize = new GSize(34, 34);
      icon.shadow = false;
      return icon;
    }
    
    function initialize() {
      var map = initMap(850, 750);
      var geocoder = new GClientGeocoder();

      // center map on Kreuzberg
      geocoder.getLatLng('Kleinhesseloher See, München', function(latLng) {
        map.setCenter(latLng, 13);
      });

      // add betterplace office
      geocoder.getLatLng("<%= amazon_muenchen %>", function(latLng) {
        var markerOptions = {
          'title': "<%= amazon_muenchen %>",
          'icon': icon('green')
        };
        var marker = new GMarker(latLng, markerOptions);
        map.addOverlay(marker);
      });
        
      // add zwischenmiete_neukoelln_adress
      geocoder.getLatLng("<%= zwischenmiete_neukoelln_adress %>", function(latLng) {
        var markerOptions = {
          'title': "<%= zwischenmiete_neukoelln_adress %>",
          'icon': icon('yellow')
        };
        var marker = new GMarker(latLng, markerOptions);
        map.addOverlay(marker);      
      });

      // add markers for flats
      G_addresses.each(function(address) {
        geocoder.getLatLng(address, function(latLng) {
          var marker = new GMarker(latLng, { 'title': address });
          map.addOverlay(marker);          
        });
      });
    }
    </script>
    
  <body onload="initialize()" onunload="GUnload()">
    <div id="map_canvas" style="width: 800px; height: 600px; border: 1px solid #000"></div>
</div>