<script type="text/javascript">

function initialize() {
  
  // set up new map
  var mapOptions = {
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };  
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  // set center
  var geocoder = new google.maps.Geocoder();

  centerMap(map, geocoder);  
  
  // pass server data to js
  var favoritePlaces = <%=raw current_user.favorite_places.to_json %>;
  var addresses      = [<%=raw @flats.map(&:to_json).join(', ') %>];
  
  placeMarkers(favoritePlaces, 'green');
  var flatMarkers = placeMarkers(addresses, 'red');

  initMarkerHighlighting(flatMarkers);
}
</script>

<div id="map_canvas"></div>