<p id=sort-bar>
  sort by: 
  <span id="sort-options">
  <% Flat::SORT_OPTIONS.each do |name, value| %>
    <%= link_to_unless_current(name, flats_path(:order => value)) %>
  <% end %>
  </span>
   | <i>showing <%= @flats.size %> flats (<%= link_to "show all #{Flat.count}", all_flats_path %>)</i>
</p>