<%= link_to 'Back to list', flats_path %> |
<%= link_to 'Show', @flat %> |
<%= link_to 'Destroy', @flat, :confirm => 'Are you sure?', :method => :delete %>

<h1>Editing wohnung</h1>

<% form_for(@flat) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
