<%= link_to 'Back to list', flats_path %> |
<%= link_to 'Show', @flat %>

<h1>Create Wohnung</h1>

<% form_for(@flat) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
