body { 
  background-color: #fff; 
}

body, a, p, ol, ul, td, input, select, textarea {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  color: #444;
}

textarea {
  width: 400px;
  border: 1px solid #bbb;
}
input {
  width: 400px;
  border: none;
  border-bottom: 1px solid #bbb;
}

input[type=radio] {
  width:auto;
}

a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  left: 950px;
  position:relative;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.2em;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 1.1em;
  list-style: square;
}

th {
  text-align:left;
}

th, td {
  padding-right: 15px;
}

div#infos {
  width: 530px;
}

ul#flat_index {
  margin-left: 0;
  padding-left: 0;    
}

ul#flat_index li {
  list-style-type:none;
  margin-left: 0;
  padding-left: 0;  
  margin-top: 0.5em;
  line-height: 1em;
}

small, small a, small a:visited {
  font-family: sans-serif;
  font-size:0.75em;
  letter-spacing:0.02em;
  color: #bbb;
  text-decoration:none;
}

fieldset {
  border: none;
}

fieldset#process_data {
  position: absolute;
  left: 20px;
  top: 90px;
}

fieldset#base_data p,
fieldset#base_data label,
fieldset#base_data input,
fieldset#base_data textarea {
  font-size: 13px;  
}

fieldset#base_data {
  position:absolute;
  background-color: #eee;
  left:500px;
  top:90px;
}

div#map_canvas {
  position:absolute;
  top: 0px;
  height:100%;
  right: 0px; 
  left: 550px;
  border-left: 1px solid #000;
}

div.field_with_errors {
  display: inline;
}

p#flash-notice {
  padding: 5px;
  width: 510px;
  background-color: #9FDD86;
  border-left: 5px solid green;
  color: green;
}

time {
  color: #5555FF;
  font-weight:bold;
}

input#flat_available_on, input#flat_available_until {
  width: 100px;
}

label {
  font-weight: bold;
  color: #666;
}

h2.passed, li.passed {
  opacity: 0.3;
}
