div#flats-list {
  position: absolute;
  left: 0px;
  top: 30px;
  bottom: 0;
  padding: 5px;
  padding-left: 10px;
  width: 535px;
  overflow: auto;
}

ul.flats {
  left: 0;
  padding-left:0;
}

ul.flats li {
  list-style-type: none;
}

h2 {
  font-size: 1em;
  color: #55f;
  margin: 0;
  padding: 0;
}

textarea#flat_comment {
  height: 200px;
}

#sort-bar {
  position: absolute;
  bottom: 0;
  margin-top: 30px;
  border-top: 1px dotted #999;
  padding: 4px; 
  height: 45px;
  background-color: #fff;
  width: 530px;
}

#sort-bar, #sort-bar a {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: #aaa;  
}

#sort-bar a.sign-out {
  color: #f66;
}

.flats {
  border-collapse: collapse;
}
.flats td,
.flats th {
  vertical-align: top;
  padding-left: 5px;
  padding-right: 0;  
  font-size: 14px;
  white-space: nowrap;
  width: 40px;
  height: 33px;
  font-weight: normal;
  text-align: right;
}

table.flats tr.just-created th,
table.flats tr.just-created td {
  background-color: #C9DFAF;
}
table.flats th {
  padding-top: 25px;
  color: #aaa;
}

.flats .state,
.flats .street {
  text-align: left;
}
.flats .avail,
.flats .rooms {
  width: 60px;
}
.flats .street div {
  width: 250px;
  overflow: hidden;  
}
.flats .street a {
  text-decoration: none;
}

.flats small {
  display:block;
  margin: 0;
}
