body { 
	background-color: #fff; color: #333; 
}

body, p, ol, ul, td, input, select, textarea {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 15px;
  color: #443;
}

input, textarea {
	padding: 5px;
	width: 400px;
}

input[type=radio] {
  width:auto;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 350px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  left: 950px;
  position:relative;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.2em;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 1.1em;
  list-style: square;
}

th {
	text-align:left;
}
th, td {
	padding-right: 15px;
}

div#infos {
  width: 530px;
}

ul#flat_index {
  margin-left: 0;
  padding-left: 0;    
}

ul#flat_index li {
  list-style-type:none;
  margin-left: 0;
  padding-left: 0;  
  margin-top: 0.5em;
  line-height: 1em;
}

small, small a, small a:visited {
  font-family: sans-serif;
  font-size:0.75em;
  letter-spacing:0.02em;
  color: #bbb;
  text-decoration:none;
}

div#process_data {
  position:absolute;
  left:20px;
  top:90px;
}

div#base_data {
  position:absolute;
  left:500px;
  top:90px;
}

div#map {
  position:absolute;
  top:20px;
  left: 550px;
}

div#flats {
  width: 520px;
}

h2 {
  border-bottom: 1px dotted #55f;
  margin-bottom:5px;
  color: #55f;
}
textarea#flat_comment {
  height: 200px;
}

p#sort-bar {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size:12px;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  padding:4px; 
  width:510px;
}
span#sort-options a:hover {
 color: #fff; 
 background-color:#000; 
}
span#sort-options {
  font-weight:bold;
}
span#sort-options a[href] {
  font-weight:normal;
}

div.field_with_errors {
  display: inline;
}

p#flash-notice {
  padding: 5px;
  width: 510px;
  background-color: #9FDD86;
  border-left: 5px solid green;
  color: green;
}

time {
  color: #5555FF;
  font-weight:bold;
}



